<div mwlDraggable (dragEnd)="dragEnd($event)" [ngClass]="{'drop-animation' : droppedData}" dropData="Tea" *ngIf="!(droppedData === 'Tea')" dragActiveClass="drag-active">
  Drag Tea!
</div>
<div mwlDraggable (dragEnd)="dragEnd($event)" dropData="Coffee" *ngIf="!(droppedData === 'Coffee')"dragActiveClass="drag-active">
  Drag Coffee!
</div>
<h3>Tea is dropped {{counter}} {{ (counter > 1 ? 'times' : 'time')}}.</h3>
<h3>Coffee is dropped {{counter1}} {{ (counter1 > 1 ? 'times' : 'time')}}.</h3>
<button (click)="refresh()">Refresh counter</button>
<div mwlDroppable (drop)="onDrop($event)" dragOverClass="drop-over-active">
  <span [hidden]="droppedData">Drop here</span>
  <span [hidden]="!droppedData">{{ droppedData }} dropped!</span>
</div>